default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: postgres
  password: <%= ENV["BUDGET_APP_DATABASE_PASSWORD"] %>

development:
  <<: *default
  database: budget_app_development
  username: postgres
  password: <%= ENV["BUDGET_APP_DATABASE_PASSWORD"] %>

test:
  <<: *default
  database: budget_app_test
  username: budget_app
  password: <%= ENV["BUDGET_APP_DATABASE_PASSWORD"] %>
  host: localhost
  port: 5432

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>
#
# Read https://guides.rubyonrails.org/configuring.html#configuring-a-database
# for a full overview on how database connection configuration can be specified.
#
# production:
#   <<: *default
#   url: <%= ENV['DATABASE_URL'] %>
#   database: budget_app_production
#   username: budget_app_production
#   password: <%= ENV["BUDGET_APP_DATABASE_PASSWORD"] %>